<div class="mb-4 grid md:grid-cols-4 gap-4">


  <div *ngFor="let item of allPokemons"
    [ngClass]="'p-2 rounded-lg  border-4 h-full capitalize  w-auto flex flex-col justify-between gap-12 bg-black/[0.3] text-white ' + setBorderColor(item.types[0].type.name)">
    <span class="font-bold"># {{item.id}}</span>

    <div class="bg-white/[0.1] rounded-full flex justify-center">
      <img width="110" [src]="item.sprites.front_default" alt="{{item.name}}">
    </div>
    <div class="flex flex-col justify-center items-center mt-2">
      <p class="font-bold align-center mb-2 text-lg">{{item.name}}</p>
      <div class="flex gap-2">
        <span *ngFor="let t of item.types" class="bg-white/[0.06] p-2 rounded-lg">{{t.type.name}}</span>
      </div>


    </div>
  </div>
